.actions img {
	border: 1px solid #bcbcbc;
	margin: 5px 10px 5px 0;
	cursor: pointer;
	display: block;
	float: left;
	width: 24px;
	height: 24px;
}

.message_body {
    border: 1px solid #808080;
    background-color: #ccc;
    border-radius: 6px;
    padding: 12px;
    font-size: 14px;
    color: black;
    white-space: normal;
    text-align: left;
    display: inline-block;
}

